{% extends "_shared/document.html.j2" %}
{% block title %}{{ _('Something went wrong') }}{% endblock %}
{% block content %}
<section class="vbwd-theme-error" data-testid="error-500">
  <h1 class="vbwd-theme-error__code">500</h1>
  <p class="vbwd-theme-error__message">{{ _('The page could not be displayed. Please try again later.') }}</p>
  <a class="vbwd-theme-error__home" href="/">{{ _('Back to the home page') }}</a>
</section>
{% endblock %}
